header{
  width:100%;
  height:100px;
  background-image:linear-gradient(rgb(108, 113, 121), rgb(89, 93, 100), rgb(59, 63, 71), rgb(41, 41, 56));
  position:fixed;
}

.logo{
  float: left;
  text-align:left;
  line-height:155px;
}

.logo p{
  text-decoration: none;
  font-size: 30px;
  font-family:sans-serif;
  color:white;
  letter-spacing: 4px;
}

nav{
  float: right;
  line-height: 100px;
}

nav a{
  text-decoration:none;
  font-family: myFont;
  letter-spacing: 4px;
  font-size: 20px;
  color: white;
  padding: 36px 10px;
  margin: 0.01px;
  font-weight: 500;
}

nav a:hover{
  color: rgb(67, 67, 196);
transition: .15ms;
}

nav a:active{
  opacity: .7;

}
.banner-area{
  background-image: url(Programming_code.jpg);
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 40vh;
  width: 100%;
  position: fixed;
}

.banner-area:after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -1;
}

.banner-area h2{
  padding-top: 8%;
  font-size: 80px;
  color: white;
}

.content-area{
  width: 100%;
  height: 800px;
  position: relative;
  background-color: rgb(255, 255, 255);
  top: 550px;
}

.content-area h2{
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  letter-spacing: 4px;
  color: white;
}

.content-area p{
  font-family: myFont;
  padding: 2% 0;
  line-height: 30px;
  text-align: justify;
  color: white;
}

