header {
    background-image:linear-gradient(rgb(181,203,245), rgb(138,177,249), rgb(100,143,225), rgb(40,98,205));
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

a.buttons:link{
   background-color: rgb(55, 239, 233);
   color: navy;
   border: 2px solid gold;
   padding: 5px 5px;
   text-align: center;
   text-decoration: none; 
   display: inline-block; 
}

a.buttons:hover{
    background-color:gold;
    color:navy;
}
